praw
python-dotenv
google-generativeai
requests

praw
langchain
langchain-groq
python-dotenv
tiktoken
faiss-cpu
transformers
sentence-transformers


langchain
langchain-community
langchain-groq


streamlit
